// Colours

$blue: #445d64;
$pink: #ed7a88;
$green: #45bab3;
$darkgrey: #3d3d3d;
$lightgrey: #f3f3f3;
$white: #FFFFFF;

// Fonts
@font-face {
	font-family: GothamBold;
	src: url(../../assets/fonts/gotham-bold.ttf);
}

@font-face {
	font-family: GothamLight;
	src: url(../../assets/fonts/gotham-light.ttf);
}

// Body
body {
	background: #FFF;
	font-family: inherit;
	font-weight: lighter;
	padding-top: 50px;
}

// Typography
.subtitle {
	font: 1.3em GothamLight;
	margin-left: 100% * 0.3;
	margin-right: 100% * 0.3;
}

@mixin titles($font-color) {
	font: 4em GothamBold;
	color: $font-color;
	padding-bottom: .5em;
	margin-bottom: .5em;
	text-transform: uppercase;
}

.dark-title {
	@include titles($darkgrey);
	position: relative;
}

.light-title {
	@include titles($white);
	position: relative;
}

@mixin underline($color) {
	content: "";
	background: $color; 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	height: 8px; 
	width: 70px;
}

.light-title:after {
	@include underline($white);
}

.dark-title:after {
	@include underline($darkgrey);
}

.date {
	text-transform: uppercase;
	font-size: 2.3em;
	font-weight: bold;
	letter-spacing: -.05em;
	color: $white;
	line-height: 2.1em;
}

#number {
	font-size: 4em;
}

.event-title {
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -.02em;
	color: $white;
}

// Sections
@mixin contentSection($top-bottom-padding, $left-right-padding, $color, $media-top-bottom-padding, $media-left-right-padding, $Ytranslation) {
	padding-top: $top-bottom-padding;
	padding-bottom: $top-bottom-padding;
	padding-left: $left-right-padding;
	padding-right: $left-right-padding;
	background-color: $color;
	transform: translateY($Ytranslation);

	@media (max-width: 600px) {
		padding-top: $media-top-bottom-padding;
		padding-bottom: $media-top-bottom-padding;
		padding-left: $media-left-right-padding;
		padding-right: $media-left-right-padding;
	}
}

.nav-section {
	@include contentSection(0, 0, $blue, 0, 0,0);
	ul {
		li {
			text-decoration: none;
			font: 1em GothamBold;
			color: white;	
			a {
				text-decoration: none !important;
				color: white !important;
			}	
			// a:hover {
			// 	CARA ADD HOVER
			// }
		}
	}
}

.main-section {
	@include contentSection(0, 0, $lightgrey, 0, 0, -50px);
	height: 100vh;
	min-height: 100vh;
	position: relative;
	text-align: center;
	z-index: -1;
}

.main-content {
	position: relative;
	top: 20vh;
	height: 80vh;
	text-align: center;

	@media (max-height: 630px) {
		top: 30vh;
	}

	@media (max-width: 850px) {
		top: 30vh;
	}
}

.volunteer-section {
	@include contentSection(5em, 6.5em, $blue, 1em, 3em, -51px);
}

.single-volunteer {
	background-color: white;
	border-radius: 10px;
	padding: 1em;
	padding-bottom: 2em;
	margin: 1em;
	ul {
		display: inline-block;
		li {
			color: $blue;
			font: 1.5em GothamBold;
			display: inline-block;
			vertical-align: bottom;
		}
	}
}

.volunteer-blurb {
	padding-top: 3em;
	padding-left: 3em;
	opacity: 0;
}

.about-section {
	@include contentSection(5em, 6.5em, $pink, 1em, 3em, -51px);
}

.events-section {
	@include contentSection(5em, 6.5em, $green, 1em, 3em, -51px);

}

// Images
.logo {
	width: 50vw;
	max-width: 420px;
	max-height: 40vh;
}

.main-img {
	width: 85vw;
	position: absolute;
	bottom: 0px;
	left: 15% * .5;

	@media (max-height: 630px) {
		display: none;
	}

	@media (max-width: 850px) {
		display: none;
	}
}

#sudo-arrow {
	height: 50px;
}

.about-img {
	width: 80%;
	max-width: 480px;
}

// Buttons
@mixin buttonStyling($bg-color, $font-color) {
	background-color: $bg-color;
	font: 1em GothamBold;
	color: $font-color;
	text-transform: uppercase;
	border-radius: 50px;
	width: 140px;
	border: none;
	padding: .6em 2em .6em 2em;
	max-width: 350px;
}

.btn-green {
	@include buttonStyling ($green, $white);
	max-width: 350px;
}

// Bootstrap Fixes
.container {
	padding-left: 5px;
	padding-right: 5px;
}

.navbar-brand {
	padding: 0px;
	padding-left: 15px; 
}

.navbar-default .navbar-toggle {
	background-color: $white;
	border: none;
}

.glyphicon-chevron-right {
	font-size: 1em;
}

.container-adjustment {
	padding: 0;

	@media (min-width: 1200px) {
		width: 100%;
	}

	@media (min-width: 768px) {
		width: 100%;
	}
}

// Utilities
.center {
	text-align: center;
}

.white {
	color: $white;
}

// Animations

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(fade-in) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@mixin animation ($duration, $delay, $animation) {
    -webkit-animation: $animation $duration $delay 1 forwards;

    -moz-animation: $animation $duration $delay 1 forwards;

    -o-animation: $animation $duration $delay 1 forwards;
    
    animation: $animation $duration $delay 1 forwards;
}

// CodePen Stuff

.active {
    .change-arrow {
      -webkit-transform: rotate(45deg) translate(-5px, -5px);
      transform: rotate(45deg) translate(-5px, -5px);

      &:before {
        -webkit-transform: translate(10px, 0);
        transform: translate(10px, 0);
      }

      &:after {
        -webkit-transform: rotate(90deg) translate(10px, 0);
        transform: rotate(90deg) translate(10px, 0);
      }
    }
    .volunteer-blurb {
    	@include animation(2s, 0.5s, fade-in);
    }
}

.change-arrow {
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  bottom: -5px;
  left: -10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: 2px;
  text-align: left;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right;

  &:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 12px;
    height: 3px;
    background-color: $blue;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  &:after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 12px;
    height: 3px;
    background-color: $blue;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 5px;
  }
}

.click-text {
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}