// Colours

$blue: #445d64;
$pink: #ed7a88;
$green: #45bab3;
$darkgrey: #3d3d3d;
$lightgrey: #f3f3f3;

// Fonts
@font-face {
    font-family: GothamBold;
    src: url(../../assets/fonts/gotham-bold.ttf);
}

@font-face {
    font-family: GothamLight;
    src: url(../../assets/fonts/gotham-light.ttf);
}

// Body
body {
	background: #FFF;
	font-family: inherit;
	font-weight: lighter;
	padding-top: 51px;
}

// Typography
.subtitle {
	font: 1em GothamLight;
	margin-left: 100% * 0.3;
	margin-right: 100% * 0.3;
}


// Sections
@mixin contentSection($top-bottom-padding, $left-right-padding, $color, $media-top-bottom-padding, $media-left-right-padding) {
	padding-top: $top-bottom-padding;
    padding-bottom: $top-bottom-padding;
    padding-left: $left-right-padding;
    padding-right: $left-right-padding;
    background-color: $color;

    @media (max-width: 600px) {
    	padding-top: $media-top-bottom-padding;
    	padding-bottom: $media-top-bottom-padding;
    	padding-left: $media-left-right-padding;
    	padding-right: $media-left-right-padding;
  }
}

.nav-section {
	@include contentSection(0, 0, $blue, 0, 0);
	ul {
		li {
			// vertical-align: bottom;
			// display: inline-block;	
			text-decoration: none;
			font: 1em GothamBold;
			color: white;	
			// margin-left: 1em;
			// margin-right: 1em;
			a {
				text-decoration: none !important;
				color: white !important;
			}	
			// a:hover {
			// 	CARA ADD HOVER
			// }
		}
	}
}

.main-section {
	@include contentSection(0, 0, $lightgrey, 0, 0);
	height: 100vh;
    min-height: 100vh;
    position: relative;
}

.main-content {
	position: relative;
	top: 30vh;
	text-align: center;
}

// Images
.logo {
	width: 50vw;
	max-width: 350px;
  }

#sudo-arrow {
	// width: 25%;
	height: 50px;

}

// Bootstrap Fixes
.container {
	padding-left: 5px;
	padding-right: 5px;
}

.navbar-brand {
	padding: 0px;
	padding-left: 15px; 
}