@font-face {
  font-family: GothamBold;
  src: url(../../assets/fonts/gotham-bold.ttf); }

@font-face {
  font-family: GothamLight;
  src: url(../../assets/fonts/gotham-light.ttf); }

body {
  background: #FFF;
  font-family: inherit;
  font-weight: lighter;
  padding-top: 51px; }

.subtitle {
  font: 1em GothamLight;
  margin-left: 30%;
  margin-right: 30%; }

.nav-section {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #445d64; }
  @media (max-width: 600px) {
    .nav-section {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0; } }
  .nav-section ul li {
    text-decoration: none;
    font: 1em GothamBold;
    color: white; }
    .nav-section ul li a {
      text-decoration: none !important;
      color: white !important; }

.main-section {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #f3f3f3;
  height: 100vh;
  min-height: 100vh;
  position: relative;
  text-align: center; }
  @media (max-width: 600px) {
    .main-section {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0; } }

.main-content {
  position: relative;
  top: 20vh;
  height: 80vh;
  text-align: center; }
  @media (max-height: 630px) {
    .main-content {
      top: 30vh; } }
  @media (max-width: 850px) {
    .main-content {
      top: 30vh; } }

.logo {
  width: 50vw;
  max-width: 320px;
  max-height: 40vh; }

.main-img {
  width: 85vw;
  position: absolute;
  bottom: 0px;
  left: 7.5%; }
  @media (max-height: 630px) {
    .main-img {
      display: none; } }
  @media (max-width: 850px) {
    .main-img {
      display: none; } }

.btn-green {
  background-color: #45bab3;
  font: 1em GothamBold;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 50px;
  width: 140px;
  border: none;
  padding: .6em 2em .6em 2em;
  max-width: 350px; }

#sudo-arrow {
  height: 50px; }

.container {
  padding-left: 5px;
  padding-right: 5px; }

.navbar-brand {
  padding: 0px;
  padding-left: 15px; }

.navbar-default .navbar-toggle {
  background-color: #FFFFFF;
  border: none; }
