@font-face {
  font-family: GothamBold;
  src: url(../../assets/fonts/gotham-bold.ttf); }

@font-face {
  font-family: GothamLight;
  src: url(../../assets/fonts/gotham-light.ttf); }

body {
  background: #FFF;
  font-family: inherit;
  font-weight: lighter;
  padding-top: 51px; }

.subtitle {
  font: 1.3em GothamLight;
  margin-left: 30%;
  margin-right: 30%; }

.dark-title {
  font: 4em GothamBold;
  color: #3d3d3d;
  padding-bottom: .5em;
  margin-bottom: .5em;
  text-transform: uppercase;
  position: relative; }

.light-title {
  font: 4em GothamBold;
  color: #FFFFFF;
  padding-bottom: .5em;
  margin-bottom: .5em;
  text-transform: uppercase;
  position: relative; }

.light-title:after {
  content: "";
  background: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 70px; }

.dark-title:after {
  content: "";
  background: #3d3d3d;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 70px; }

.date {
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: bold;
  letter-spacing: -.05em;
  color: #FFFFFF;
  line-height: 2.1em; }

#number {
  font-size: 4em; }

.event-title {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -.02em;
  color: #FFFFFF; }

.nav-section {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #445d64;
  transform: translateY(0); }
  @media (max-width: 600px) {
    .nav-section {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0; } }
  .nav-section ul li {
    text-decoration: none;
    font: 1em GothamBold;
    color: white; }
    .nav-section ul li a {
      text-decoration: none !important;
      color: white !important; }

.main-section {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #f3f3f3;
  transform: translateY(-50px);
  height: 100vh;
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: -1; }
  @media (max-width: 600px) {
    .main-section {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0; } }

.main-content {
  position: relative;
  top: 20vh;
  height: 80vh;
  text-align: center; }
  @media (max-height: 630px) {
    .main-content {
      top: 30vh; } }
  @media (max-width: 850px) {
    .main-content {
      top: 30vh; } }

.about-section {
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 6.5em;
  padding-right: 6.5em;
  background-color: #ed7a88;
  transform: translateY(-51px); }
  @media (max-width: 600px) {
    .about-section {
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: 3em;
      padding-right: 3em; } }

.events-section {
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 6.5em;
  padding-right: 6.5em;
  background-color: #45bab3;
  transform: translateY(-51px); }
  @media (max-width: 600px) {
    .events-section {
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: 3em;
      padding-right: 3em; } }

.logo {
  width: 50vw;
  max-width: 420px;
  max-height: 40vh; }

.main-img {
  width: 85vw;
  position: absolute;
  bottom: 0px;
  left: 7.5%; }
  @media (max-height: 630px) {
    .main-img {
      display: none; } }
  @media (max-width: 850px) {
    .main-img {
      display: none; } }

.about-img {
  width: 80%;
  max-width: 480px; }

.btn-green {
  background-color: #45bab3;
  font: 1em GothamBold;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 50px;
  width: 140px;
  border: none;
  padding: .6em 2em .6em 2em;
  max-width: 350px; }

.btn-white {
  background-color: #FFFFFF;
  font: 1em GothamBold;
  color: #45bab3;
  text-transform: uppercase;
  border-radius: 50px;
  width: 140px;
  border: none;
  padding: .6em 2em .6em 2em;
  max-width: 350px; }

#sudo-arrow {
  height: 50px; }

.container {
  padding-left: 5px;
  padding-right: 5px; }

.navbar-brand {
  padding: 0px;
  padding-left: 15px; }

.navbar-default .navbar-toggle {
  background-color: #FFFFFF;
  border: none; }

.container-adjustment {
  padding: 0; }
  @media (min-width: 1200px) {
    .container-adjustment {
      width: 100%; } }
  @media (min-width: 768px) {
    .container-adjustment {
      width: 100%; } }

.center {
  text-align: center; }

.white {
  color: #FFFFFF; }
