@font-face {
  font-family: GothamBold;
  src: url(../../assets/fonts/gotham-bold.ttf); }

@font-face {
  font-family: GothamLight;
  src: url(../../assets/fonts/gotham-light.ttf); }

body {
  background: #FFF;
  font-family: inherit;
  font-weight: lighter;
  padding-top: 50px; }

.subtitle {
  font: 1.3em GothamLight;
  margin-left: 30%;
  margin-right: 30%; }

.dark-title {
  font: 4em GothamBold;
  color: #3d3d3d;
  padding-bottom: .5em;
  margin-bottom: .5em;
  text-transform: uppercase;
  position: relative; }

.light-title {
  font: 4em GothamBold;
  color: #FFFFFF;
  padding-bottom: .5em;
  margin-bottom: .5em;
  text-transform: uppercase;
  position: relative; }

.light-title:after {
  content: "";
  background: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 70px; }

.dark-title:after {
  content: "";
  background: #3d3d3d;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 70px; }

.date {
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: bold;
  letter-spacing: -.05em;
  color: #FFFFFF;
  line-height: 2.1em; }

#number {
  font-size: 4em; }

.event-title {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -.02em;
  color: #FFFFFF; }

.nav-section {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #445d64;
  transform: translateY(0); }
  @media (max-width: 600px) {
    .nav-section {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0; } }
  .nav-section ul li {
    text-decoration: none;
    font: 1em GothamBold;
    color: white; }
    .nav-section ul li a {
      text-decoration: none !important;
      color: white !important; }

.main-section {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #f3f3f3;
  transform: translateY(-50px);
  height: 100vh;
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: -1; }
  @media (max-width: 600px) {
    .main-section {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0; } }

.main-content {
  position: relative;
  top: 20vh;
  height: 80vh;
  text-align: center; }
  @media (max-height: 630px) {
    .main-content {
      top: 30vh; } }
  @media (max-width: 850px) {
    .main-content {
      top: 30vh; } }

.volunteer-section {
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 6.5em;
  padding-right: 6.5em;
  background-color: #445d64;
  transform: translateY(-51px); }
  @media (max-width: 600px) {
    .volunteer-section {
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: 3em;
      padding-right: 3em; } }

.single-volunteer {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  padding-bottom: 2em;
  margin: 1em; }
  .single-volunteer ul {
    display: inline-block; }
    .single-volunteer ul li {
      color: #445d64;
      font: 1.5em GothamBold;
      display: inline-block;
      vertical-align: bottom; }

.volunteer-blurb {
  vertical-align: middle;
  padding-top: 3em;
  padding-left: 3em;
  opacity: 0; }

.about-section {
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 6.5em;
  padding-right: 6.5em;
  background-color: #ed7a88;
  transform: translateY(-51px); }
  @media (max-width: 600px) {
    .about-section {
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: 3em;
      padding-right: 3em; } }

.events-section {
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 6.5em;
  padding-right: 6.5em;
  background-color: #45bab3;
  transform: translateY(-51px); }
  @media (max-width: 600px) {
    .events-section {
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: 3em;
      padding-right: 3em; } }

.logo {
  width: 50vw;
  max-width: 420px;
  max-height: 40vh; }

.main-img {
  width: 85vw;
  position: absolute;
  bottom: 0px;
  left: 7.5%; }
  @media (max-height: 630px) {
    .main-img {
      display: none; } }
  @media (max-width: 850px) {
    .main-img {
      display: none; } }

#sudo-arrow {
  height: 50px; }

.about-img {
  width: 80%;
  max-width: 480px; }

.btn-green {
  background-color: #45bab3;
  font: 1em GothamBold;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 50px;
  width: 140px;
  border: none;
  padding: .6em 2em .6em 2em;
  max-width: 350px;
  max-width: 350px; }

.container {
  padding-left: 5px;
  padding-right: 5px; }

.navbar-brand {
  padding: 0px;
  padding-left: 15px; }

.navbar-default .navbar-toggle {
  background-color: #FFFFFF;
  border: none; }

.glyphicon-chevron-right {
  font-size: 1em; }

.container-adjustment {
  padding: 0; }
  @media (min-width: 1200px) {
    .container-adjustment {
      width: 100%; } }
  @media (min-width: 768px) {
    .container-adjustment {
      width: 100%; } }

.center {
  text-align: center; }

.white {
  color: #FFFFFF; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.active .change-arrow {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px); }
  .active .change-arrow:before {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  .active .change-arrow:after {
    -webkit-transform: rotate(90deg) translate(10px, 0);
    transform: rotate(90deg) translate(10px, 0); }

.active .volunteer-blurb {
  -webkit-animation: fade-in 2s 0.5s 1 forwards;
  -moz-animation: fade-in 2s 0.5s 1 forwards;
  -o-animation: fade-in 2s 0.5s 1 forwards;
  animation: fade-in 2s 0.5s 1 forwards; }

.change-arrow {
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  bottom: -5px;
  left: -10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: 2px;
  text-align: left;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right; }
  .change-arrow:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 12px;
    height: 3px;
    background-color: #445d64;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease; }
  .change-arrow:after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 12px;
    height: 3px;
    background-color: #445d64;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 5px; }

.click-text {
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease; }
